extends layout

block content
  h1= Postbin
  h2= Stats
    p Reqs/sec #{stats.requests_per_second} Total Reqs #{stats.total_requests} Uptime Secs #{stats.uptime}
    p Time in ms: last #{stats.req_time_last} ave #{stats.req_time_ave} min #{stats.req_time_min} max #{stats.req_time_max}

  each event in events_list
    h2= event.name
    p at #{event.created_at}
    h3 headers
    pre
      =JSON.stringify(event.headers, null, 2)
    h3 body
    pre
      =JSON.stringify(event.body, null, 2)
